<p-dialog
    header="Регистрация"
    [(visible)]="visible"
    modal="true"
    [draggable]="false"
    [resizable]="false"
    [closable]="true"
    (onShow)="onShow()"
    (onHide)="onClose()"
>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div>
            <input
                pInputText
                placeholder="Логин"
                formControlName="login"
                autocomplete="username"
                [class.ng-invalid]="false"
                [invalid]="!!getControlError('login')"
                class="dialog-form__input"
            />
            @if (getControlError('login')) {
                <p-message severity="error" size="small" variant="simple">{{
                    getControlError('login')
                }}</p-message>
            }
        </div>
        <div>
            <input
                pInputText
                placeholder="Имя"
                formControlName="name"
                autocomplete="name"
                [class.ng-invalid]="false"
                [invalid]="!!getControlError('name')"
                class="dialog-form__input"
            />
            @if (getControlError('name')) {
                <p-message severity="error" size="small" variant="simple">{{
                    getControlError('name')
                }}</p-message>
            }
        </div>
        <div>
            <div class="dialog-form__password-input">
                <input
                    pInputText
                    [type]="isPasswordVisible() ? 'text' : 'password'"
                    placeholder="Пароль"
                    formControlName="password"
                    autocomplete="current-password"
                    [class.ng-invalid]="false"
                    [invalid]="!!getControlError('password')"
                    class="dialog-form__input"
                />
                <span
                    class="dialog-form__password-eye-btn"
                    [title]="isPasswordVisible() ? 'Скрыть пароль' : 'Показать пароль'"
                    [class.active]="isPasswordVisible()"
                    (click)="isPasswordVisible.set(!isPasswordVisible())"
                >
                    <span
                        class="pi"
                        [class.pi-eye-slash]="!isPasswordVisible()"
                        [class.pi-eye]="isPasswordVisible()"
                    ></span>
                </span>
            </div>
            @if (getControlError('password')) {
                <p-message severity="error" size="small" variant="simple">{{
                    getControlError('password')
                }}</p-message>
            }
        </div>
        @if (registerError()) {
            <p-message severity="error" size="small" variant="simple">{{
                registerError()
            }}</p-message>
        }
        <button
            pButton
            type="submit"
            [label]="isLoading() ? 'Регистрация' : 'Зарегистрироваться'"
            [loading]="isLoading()"
        ></button>
    </form>
</p-dialog>
