.ad-grid-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 2px;
}

.ad-grid-header__ad-count {
    text-align: right;
    padding-top: 8px;
    padding-bottom: 8px;
    color: var(--gray-500-color);
}

.ad-grid-header__ad-sort {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
}

.ad-grid-header__ad-sort-select {
    width: 150px;
}

@media (min-width: 768px) {
    .ad-grid-header__ad-sort {
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 992px) {
    .ad-grid-header {
        flex-direction: row;
        align-items: center;
    }
    .ad-grid-header__ad-count {
        text-align: left;
    }
}
