<aside>
    <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="ad-sidebar-filters mt-9">
        <div class="ad-sidebar-filters__category mb-16">
            <div class="h6 fw-600 mb-12">Все категории</div>
            @if (categoriesMenuItems().length > 0) {
                <p-panelmenu [model]="categoriesMenuItems()">
                    <ng-template #item let-item>
                        <a
                            [routerLink]="[]"
                            [queryParams]="{ catId: item.data.id, catName: item.data.name }"
                            queryParamsHandling="merge"
                            class="ad-sidebar-filters__category-menu-item base"
                            [class.is-active]="activeItem() === item.data"
                        >
                            @if (item.items?.length) {
                                <svg
                                    icon="chevron-right-panelmenu"
                                    width="10"
                                    height="10"
                                    [class.expanded]="item.expanded"
                                ></svg>
                            }
                            <span [class.no-childs]="item.isRootItem && !item.items?.length">
                                {{ item.label }}
                            </span>
                        </a>
                    </ng-template>
                </p-panelmenu>
            } @else {
                <app-category-filter-skeleton></app-category-filter-skeleton>
            }
        </div>
        <div class="ad-sidebar-filters__price mb-24">
            <div class="base fw-600 mb-8">Цена</div>
            <div class="ad-sidebar-filters__price-inputs base">
                <p-inputnumber
                    formControlName="minPrice"
                    placeholder="Цена от"
                    mode="currency"
                    currency="RUB"
                    [min]="0"
                    currencyDisplay="symbol"
                    locale="ru-RU"
                    [minFractionDigits]="0"
                    [invalid]="isPricesMinMaxWrong()"
                />
                <p-inputnumber
                    formControlName="maxPrice"
                    placeholder="до, руб."
                    mode="currency"
                    currency="RUB"
                    [min]="0"
                    currencyDisplay="symbol"
                    locale="ru-RU"
                    [minFractionDigits]="0"
                    [invalid]="isPricesMinMaxWrong()"
                />
            </div>
        </div>
        <button
            pButton
            type="submit"
            class="ad-sidebar-filters__submit-btn base"
            [label]="
                isPriceFilterEmpty() && isSubmitted()
                    ? 'Сбросить фильтр цен'
                    : 'Показать объявления'
            "
            [disabled]="
                (isPriceFilterEmpty() && !isSubmitted()) ||
                !isPriceFilterChange() ||
                isPricesMinMaxWrong()
            "
        ></button>
    </form>
</aside>
