.ad-sidebar-filters {
    display: flex;
    flex-direction: column;
}

.ad-sidebar-filters__category {
    display: flex;
    flex-direction: column;
}

.ad-sidebar-filters__category-menu-item {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    user-select: none;
    color: inherit;

    svg {
        transition: transform 0.1s ease;
        transform: rotate(0deg);
    }

    svg.expanded {
        transform: rotate(90deg);
    }

    .no-childs {
        margin-left: 18px;
    }

    &.is-active {
        color: var(--dark-color);
    }
}

.ad-sidebar-filters__price-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.ad-sidebar-filters__submit-btn {
    padding: 12px;
}

@media (min-width: 992px) {
    .ad-sidebar-filters__price-inputs {
        flex-direction: row;
    }
}
