<aside class="ad-sidebar-filters mt-9">
    <div class="ad-sidebar-filters__category mb-16">
        <div class="h6 fw-600 mb-12">Все категории</div>
        @if (categoriesMenuItems$ | async; as categoriesMenuItems) {
            <p-panelmenu [model]="categoriesMenuItems" class="ad-sidebar-filters__category-menu" />
        } @else {
            <p>Загрузка...</p>
        }
    </div>

    <div class="ad-sidebar-filters__price mb-24">
        <div class="base fw-600 mb-8">Цена</div>
        <div class="ad-sidebar-filters__price-inputs base">
            <p-inputnumber
                inputId="integeronly"
                placeholder="Цена от"
                mode="currency"
                currency="RUB"
                [minFractionDigits]="0"
                formControlName="minPrice"
            />
            <p-inputnumber
                inputId="integeronly"
                placeholder="до, руб."
                mode="currency"
                currency="RUB"
                [minFractionDigits]="0"
                formControlName="maxPrice"
            />
        </div>
    </div>

    <button pButton type="submit" class="ad-sidebar-filters__submit-btn">
        <span pButtonLabel class="base">Показать объявления</span>
    </button>
</aside>
