@switch (pageType()) {
    @case ('main') {
        @if (isAuth()) {
            <app-adverts-list-section
                [adverts]="favoriteCategoryAdverts()"
                title="Рекомендации для вас (объявления в категории {{ favCategoryName() }})"
                [count]="4"
                [isLoading]="isLoading()"
            ></app-adverts-list-section>

            <app-adverts-list-section
                [adverts]="favoritesAdverts()"
                title="Избранные объявления"
                [count]="4"
                [isLoading]="isLoading()"
                link="/user/favorites"
            ></app-adverts-list-section>

            <app-adverts-list-section
                [adverts]="myAdverts()"
                title="Ваши объявления"
                [count]="4"
                [isLoading]="isUserLoading()"
                link="/user/adverts"
            ></app-adverts-list-section>
        }
        <app-adverts-list-section
            [adverts]="sortedAdverts()"
            title="Последние добавленные объявления"
            [count]="16"
            [isLoading]="isLoading()"
        ></app-adverts-list-section>
    }
    @case ('favorites') {
        <app-adverts-list-section
            [adverts]="favoritesAdverts()"
            title="Избранные объявления"
            [isLoading]="isLoading()"
        ></app-adverts-list-section>
    }
    @case ('my-adverts') {
        <app-adverts-list-section
            [adverts]="myAdverts()"
            title="Мои объявления"
            [isLoading]="isUserLoading()"
            [newBtn]="true"
        ></app-adverts-list-section>
    }
    @case ('user-adverts') {
        <app-adverts-list-section
            [adverts]="adverts()"
            title="Объявления пользователя {{ advertsAuthor()?.name }}"
            [isLoading]="isLoading()"
        ></app-adverts-list-section>
    }
    @case ('search') {
        @if (filteredAdverts(); as adverts) {
            <app-ad-title
                [advertsCount]="adverts.length"
                [catQuery]="catNameParam() ?? null"
                [isLoading]="isLoading()"
            ></app-ad-title>
            <div class="page-content">
                <app-ad-sidebar-filters></app-ad-sidebar-filters>
                <div>
                    <app-ad-top-filters [advertsCount]="adverts.length"></app-ad-top-filters>
                    @if (isLoading()) {
                        <app-spinner type="big" width="1" wrapHeight="700px"></app-spinner>
                    } @else if (adverts.length < 1) {
                        <p class="base mt-24 gray-text">
                            По точному совпадению результатов не найдено
                        </p>
                    } @else {
                        <app-ad-grid [adverts]="adverts" width="short"></app-ad-grid>
                    }
                </div>
            </div>
        }
    }
    @default {}
}
