:host {
    display: block;
    background-color: var(--dark-color);
    padding: 8px 0;
}

.header-top__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
}

.header-top__signin-btn {
    padding: 8px 0px;

    &:not(:disabled):hover {
        color: var(--p-blue-100);
    }
}

.header-top__add-btn {
    padding: 6px 12px;
    gap: 4px;

    .p-button-label {
        font-weight: 500;
    }
}
