@if (advert) {
<a class="item__img-outer-wrapper" [routerLink]="['/advert', advert.id]">
    @if (image$ | async; as img) {
    <app-image [imageSrc]="img" [alt]="advert.name"></app-image>
    } @else {
    <p>Загрузка фото...</p>
    }
    <!-- @if (advert.imagesIds[0]) {
    <app-image [imageId]="advert.imagesIds[0]" [alt]="advert.name"></app-image>
    } @else {
    <p>Загрузка фото...</p> } -->
</a>
<h6 class="item__title h6 fw-600">
    <a [routerLink]="['/advert', advert.id]">{{ advert.name }}</a>
</h6>
<div class="item__info-block">
    <span class="item__price h6 fw-600"> {{ advert.cost | price }} </span>
    <span class="item__address">{{ advert.location }}</span>
    <span class="item__time">{{ advert.createdAt | relativeDate }}</span>
</div>

}
