.comments {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-right: 12px;

    .title {
        margin-bottom: 18px;
    }

    &__text-btn {
        padding: 0px;

        &:hover {
            color: var(--gray-600-color);
        }
    }
}
