:host {
    display: block;
    background-color: var(--dark-color);
    padding: 8px 0;
}

.header-top__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-top__signin-btn {
    color: var(--white-color);
    padding: 8px 0px;
    gap: 4px;

    .p-button-label {
        margin-left: 4px;
    }

    &:not(:disabled):hover {
        color: var(--p-blue-100);
    }
}

// без ng-deep и important не получилось
::ng-deep .header-top__user-menu {
    top: 42px !important;
    transform: translateX(calc(-100% + 82px)) !important;

    .p-tieredmenu-item-label {
        text-align: right;
        width: 100%;
    }

    .menu-item-logout .p-tieredmenu-item-label {
        color: var(--error-color);
    }
}

.header-top__spinner {
    width: 20px;
    height: 20px;
    margin: 8px 0px;
    --p-progressspinner-color-one: var(--white-color);
    --p-progressspinner-color-two: var(--white-color);
    --p-progressspinner-color-three: var(--white-color);
    --p-progressspinner-color-four: var(--white-color);
}

.header-top__add-btn {
    padding: 6px 12px;
    margin-left: 24px;
    gap: 4px;

    .p-button-label {
        font-weight: 500;
    }
}
