<div class="header-top__container container">
    @if (authStateService.isAuth) {
        @if (currentUser$ | async; as user) {
            <button pButton text class="header-top__signin-btn" (click)="menu.toggle($event)">
                <svg pButtonIcon icon="person" width="20" height="20"></svg>
                <span pButtonLabel>{{ user.name }}</span>
                <svg pButtonIcon icon="chevron-down" width="8" height="8"></svg>
            </button>
            <p-tieredmenu
                #menu
                [model]="menuItems"
                [popup]="true"
                styleClass="header-top__user-menu"
            />
        } @else {
            <p-progressSpinner strokeWidth="4" class="header-top__spinner"> </p-progressSpinner>
        }
    } @else {
        <button
            pButton
            text
            class="header-top__signin-btn"
            (click)="loginDialogService.openLoginDialog()"
        >
            <svg pButtonIcon icon="person" width="20" height="20"></svg>
            <span pButtonLabel>Войти</span>
        </button>
    }
    <button
        pButton
        class="header-top__add-btn"
        [routerLink]="['/user/advert-add']"
        [disabled]="!authStateService.isAuth"
    >
        <span pButtonLabel>Новое объявление</span>
        <svg pButtonIcon icon="plus" width="20" height="20"></svg>
    </button>
</div>
