<div class="image-gallery-skeleton">
    <p-skeleton
        width="100%"
        height="570px"
        class="image-gallery-skeleton__image"
        borderRadius="4px"
    ></p-skeleton>
    <app-spinner type="gallery" width="1"></app-spinner>
    <div class="image-gallery-skeleton__gallery">
        <p-skeleton width="120px" height="90px" borderRadius="4px"></p-skeleton>
        <p-skeleton width="120px" height="90px" borderRadius="4px"></p-skeleton>
        <p-skeleton width="120px" height="90px" borderRadius="4px"></p-skeleton>
        <p-skeleton width="120px" height="90px" borderRadius="4px"></p-skeleton>
        <p-skeleton width="120px" height="90px" borderRadius="4px"></p-skeleton>
        <p-skeleton width="120px" height="90px" borderRadius="4px"></p-skeleton>
    </div>
</div>
