.image-gallery-skeleton {
    margin-bottom: 54px;
    position: relative;

    &__image {
        margin-bottom: 24px;
        aspect-ratio: 3 / 2;
    }

    &__gallery {
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 12px;
        height: 45px;

        > * {
            aspect-ratio: 3 / 2;
        }
    }
}

@media (min-width: 576px) {
    .image-gallery-skeleton__gallery {
        height: 55px;
    }
}

@media (min-width: 768px) {
    .image-gallery-skeleton__gallery {
        height: 70px;
    }
}

@media (min-width: 992px) {
    .image-gallery-skeleton__gallery {
        height: 90px;

        :nth-child(1) {
            display: none;
        }
    }
}

@media (min-width: 1200px) {
    .image-gallery-skeleton__gallery {
        :nth-child(1) {
            display: block;
        }
    }
}
