<div class="address-block__input-wrapper" [class.show]="isAddressInputVisible()">
    <div class="address-block__input">
        <app-address-input
            [formControl]="control()"
            [invalid]="invalid()"
            (keydown.enter)="addressUpdate()"
        ></app-address-input>
        <button
            pButton
            type="button"
            label="Сохранить адрес"
            icon="pi pi-save"
            severity="secondary"
            [disabled]="isAddressInputEmpty() || isAddressInputSame()"
            class="address-block__save-btn"
            (click)="addressUpdate()"
        ></button>
    </div>
</div>

@if (userAddress()) {
    <div class="address-block__saved">
        <button
            pButton
            type="button"
            [rounded]="true"
            severity="secondary"
            class="address-block__label"
            [title]="isAddressInputVisible() ? 'Выбрать сохраненный адрес' : ''"
            [class.secondary]="isAddressInputVisible()"
            [disabled]="!isAddressInputVisible()"
            (click)="addAddressToForm()"
        >
            <span pButtonIcon class="pi pi-home"></span>
            <span pButtonLabel>{{ currentUser()?.address }}</span>
        </button>
        @if (!isAddressInputVisible()) {
            <button
                pButton
                text
                type="button"
                severity="secondary"
                icon="pi pi-pen-to-square"
                title="Изменить"
                class="address-block__change-btn"
                (click)="addressInputShow()"
            ></button>

            <button
                pButton
                text
                type="button"
                severity="secondary"
                icon="pi pi-times"
                title="Удалить"
                class="address-block__change-btn"
                (click)="addressDelete()"
            ></button>
        }
    </div>
}
