<div class="address-block__input" [class.show]="isAddressInputVisible()">
    <app-address-input [formControl]="control()" [invalid]="invalid()"></app-address-input>
</div>

@if (userAddress()) {
    <div class="address-block__saved">
        <button
            pButton
            type="button"
            [rounded]="true"
            severity="secondary"
            class="address-block__label"
            [title]="isAddressInputVisible() ? 'Выбрать сохраненный адрес' : ''"
            [class.secondary]="isAddressInputVisible()"
            [disabled]="!isAddressInputVisible()"
            (click)="onLabelButtonClick()"
        >
            <span pButtonIcon class="pi pi-home"></span>
            <span pButtonLabel>{{ currentUser()?.address }}</span>
        </button>

        @if (!isAddressInputVisible()) {
            <button
                pButton
                text
                type="button"
                severity="secondary"
                icon="pi pi-pen-to-square"
                title="Изменить"
                class="address-block__change-btn"
                (click)="onChangeButtonClick()"
            ></button>
        }
    </div>
}
