:host {
    display: flex;
    flex-direction: column;
}

.address-block__input-wrapper {
    max-height: 0;
    margin-bottom: 0;
    opacity: 0;
    transition:
        max-height 0.4s ease,
        opacity 0.2s ease,
        margin-bottom 0.2s ease;

    &.show {
        max-height: 200px;
        opacity: 1;
        margin-bottom: 8px;
    }

    .address-block__input {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 12px;

        .address-block__save-btn {
            line-height: 24px;
            width: 250px;
        }
    }
}

.address-block__saved {
    display: flex;
    gap: 10px;
    margin-top: 4px;
    margin-bottom: 4px;

    .address-block__label {
        padding: 12px 18px;
        font-size: 16px;
        opacity: 1;
        margin-right: 4px;
        transition: all 0.2s ease;

        &.secondary {
            opacity: 0.9;
            padding: 8px 18px;
            font-size: 14px;
        }

        &:disabled {
            opacity: 1;
        }
    }

    .address-block__change-btn {
        width: 20px;

        &:hover {
            color: var(--gray-600-color);
        }
    }
}
