@if (isAuth()) {
    @if (!isMyAdvert()) {
        <div
            class="item__icon fav-icon"
            (click)="toggleFavorite($event)"
            [title]="!isFavorite() ? 'Добавить в избранное' : 'Удалить из избранного'"
        >
            <i class="pi pi-heart" [class.show]="!isFavorite()"></i>
            <i class="pi pi-heart-fill" [class.show]="isFavorite()"></i>
        </div>
    } @else {
        <div class="item__icon edit-icon" title="Редактировать" (click)="onEditAdvert($event)">
            <i class="pi pi-pen-to-square show"></i>
        </div>
        <div class="item__icon delete-icon" title="Удалить" (click)="onDeleteAdvert($event)">
            <i class="pi pi-trash show"></i>
        </div>
    }
}
