@use 'variables';
@use 'reset';
@use 'typography';
@use 'utilities';
@use 'primeng';
@import 'primeicons/primeicons.css';

body {
    background: var(--white-color);
    color: var(--dark-color);
    font-size: 14px;
    font-weight: 400;
}

main {
    padding-top: 32px;
    padding-bottom: 80px;
}

a {
    text-decoration: none;
}

input::placeholder {
    color: var(--gray-500-color);
}

select {
    border: 1px solid var(--gray-300-color);
    border-radius: 4px;
    padding: 8px 44px 8px 12px;
    background-image: url('/assets/svg/select-arrow.svg');
    background-position: right 18px center;
    background-repeat: no-repeat;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

summary {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    list-style: none;
    user-select: none;
}

summary::before {
    content: '';
    cursor: pointer;
}

.container {
    max-width: 95%;
    margin: 0 auto;
}

.page-content {
    display: grid;
    grid-template-columns: minmax(200px, 25%) auto;
    gap: 15px;
    margin-top: 16px;
}

.category-menu {
    position: absolute;
    z-index: 104;
    top: 137px !important;
    left: 0px;
    width: 100%;
    height: calc(-137px + 100vh);
    background-color: var(--white-color);
    border: none;
    border-radius: 0px;

    .p-popover-content {
        padding: 0px;
        height: 100%;
    }

    &::before,
    &::after {
        content: none;
    }
}

.image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-100-color);
    color: var(--gray-300-color);

    &.small {
        height: 235px;
        aspect-ratio: 26 / 20;
        .pi {
            font-size: 60px;
        }
    }
    &.big {
        height: 570px;
        border-radius: 4px;
        .pi {
            font-size: 100px;
        }
    }
}

.ad-grid__item:hover .image,
.ad-grid__item:hover .image-placeholder {
    transform: scale(1.02);
    transform-origin: center;
    transition: transform 0.15s ease;
}

@media (min-width: 768px) {
    .page-content {
        gap: 24px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 94%;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1296px;
    }
    .page-content {
        grid-template-columns: 306px auto;
    }
}
