@use 'variables';
@use 'reset';
@use 'typography';
@use 'utilities';
@use 'primeng';
@import 'primeicons/primeicons.css';

body {
    background: var(--white-color);
    color: var(--dark-color);
    font-size: 14px;
    font-weight: 400;
}

main {
    padding-top: 32px;
    padding-bottom: 80px;
}

a {
    text-decoration: none;
}

input::placeholder {
    color: var(--gray-500-color);
}

.container {
    max-width: 86%;
    margin: 0 auto;
}

.page-content {
    display: grid;
    grid-template-columns: minmax(200px, 25%) auto;
    gap: 15px;
}

.relative {
    position: relative;
}

.category-menu {
    position: absolute;
    z-index: 104;
    top: 257px !important;
    left: 0px;
    width: 100%;
    height: calc(-137px + 100vh);
    background-color: var(--white-color);
    border: none;
    border-radius: 0px;

    .p-popover-content {
        padding: 0px;
        height: 100%;
    }

    &::before,
    &::after {
        content: none;
    }
}

.image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-100-color);
    color: var(--gray-300-color);

    &.big {
        height: 570px;
        border-radius: 4px;
        .pi {
            font-size: 100px;
        }
    }
}

.ad-grid__item:hover .image,
.ad-grid__item:hover .image-placeholder {
    transform: scale(1.02);
    transform-origin: center;
    transition: transform 0.15s ease;
}

@media (min-width: 576px) {
    .container {
        max-width: 83%;
    }
}

@media (min-width: 768px) {
    .page-content {
        gap: 24px;
    }
    .container {
        max-width: 88%;
    }
    .category-menu {
        top: 191px !important;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 94%;
    }
    .category-menu {
        top: 137px !important;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1296px;
    }
    .page-content {
        grid-template-columns: 306px auto;
    }
}
