<!-- <div class="comments-skeleton">
    <div class="comments-skeleton__comment">
        <p-skeleton shape="circle" size="38px"></p-skeleton>
        <div class="comments-skeleton__content">
            <div class="comments-skeleton__info">
                <p-skeleton width="60px" height="15px"></p-skeleton>
                <p-skeleton width="90px" height="12px"></p-skeleton>
            </div>
            <p-skeleton width="100%" height="70px" borderRadius="8px"></p-skeleton>
            <p-skeleton width="90px" height="12px" class="comments-skeleton__actions"></p-skeleton>
        </div>
    </div>
    <p-skeleton
        width="100%"
        height="80px"
        borderRadius="8px"
        class="comments-skeleton__form"
    ></p-skeleton>
</div> -->
