:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;

    &:hover .item__img {
        transform: scale(1.03);
        transform-origin: center;
    }

    &:hover .item__title {
        color: var(--info-color);
    }
}

.item__img-wrapper {
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 8px;
}

.item__img {
    image-rendering: auto;
    object-fit: cover;
    transition: all 0.15s ease;
    aspect-ratio: 26 / 20;
}

.item__text-block {
    display: flex;
    flex-direction: column;
}

.item__title {
    color: var(--primary-color);
    transition: all 0.15s ease;
}

.item__price {
    color: var(--dark-color);
}

.item__address,
.item__time {
    color: var(--gray-500-color);
    line-height: 20px;
}

@media (min-width: 680px) {
    :host {
        margin: 0;
    }
}
