<div class="category-menu__wrapper container">
    @if (categories(); as categories) {
        <p-listbox
            [options]="categories"
            optionLabel="name"
            focusOnHover="false"
            highlightOnSelect="false"
            class="category-menu__parents-list"
            scrollHeight="100%"
        >
            <ng-template pTemplate="item" let-item>
                <a
                    [routerLink]="['/adverts']"
                    [queryParams]="{ catId: item.id, catName: item.name }"
                    queryParamsHandling="merge"
                    (click)="onClickCategory()"
                    (mouseenter)="onHoverParent(item)"
                    class="category-menu__parents-list-item"
                    [class.is-active]="activeParent()?.id === item.id"
                >
                    <span>{{ item.name }}</span>
                    <svg pButtonIcon icon="chevron-right" width="16" height="16"></svg>
                </a>
            </ng-template>
        </p-listbox>

        @if (activeParent(); as parentCategory) {
            <div class="category-menu__childs-list">
                <span class="h4 fw-600">
                    {{ parentCategory.name }}
                    <svg icon="chevron-right-h4" width="16" height="16"></svg>
                </span>
                <ul>
                    @for (childCategory of parentCategory.childs; track childCategory.id) {
                        <li class="base">
                            <a
                                [routerLink]="['/adverts']"
                                [queryParams]="{
                                    catId: childCategory.id,
                                    catName: childCategory.name,
                                }"
                                queryParamsHandling="merge"
                                (click)="onClickCategory()"
                                (mouseenter)="onHoverChild(childCategory)"
                                [class.is-active]="activeChild()?.id === childCategory.id"
                            >
                                {{ childCategory.name }}
                                <svg icon="chevron-right" width="14" height="14"></svg>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        }
    }
</div>
