:host {
    display: block;
    height: 100%;
}

.category-menu__wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 44% 1fr;
    gap: 2%;
    padding-top: 32px;
}

.category-menu__parents-list {
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

.category-menu__parents-list-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--dark-color);
    padding: 8px 12px;
    border-radius: 8px;
    transition: background-color 0.2s;

    svg {
        display: none;
    }

    &.is-active {
        background-color: var(--gray-100-color);
    }
}

.category-menu__childs-list {
    padding-top: 4px;
    max-width: 700px;

    .h4 {
        display: block;
        gap: 8px;
        align-items: center;
        cursor: default;

        svg {
            display: none;
        }
    }

    svg {
        margin-top: 2px;
    }

    ul {
        margin-top: 34px;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        row-gap: 8px;
        list-style: none;

        a {
            display: block;

            svg {
                display: none;
            }

            align-items: center;
            gap: 10px;
            border-radius: 8px;
            padding: 8px 12px;
            color: var(--dark-color);
            transition: background-color 0.2s;

            &.is-active {
                background-color: var(--gray-100-color);
            }
        }

        svg {
            margin-bottom: 3px;
        }
    }
}

@media (min-width: 576px) {
    .category-menu__wrapper {
        grid-template-columns: 45% 1fr;
        gap: 3%;
    }

    .category-menu__parents-list-item {
        svg {
            display: inline-flex;
        }
    }

    .category-menu__childs-list .h4 {
        svg {
            display: inline-flex;
        }
    }

    .category-menu__childs-list ul a {
        svg {
            display: inline-flex;
            margin-left: 5px;
            vertical-align: middle;
        }
    }
}

@media (min-width: 768px) {
    .category-menu__wrapper {
        grid-template-columns: 282px 1fr;
        gap: 48px;
    }

    .category-menu__childs-list .h4 {
        display: inline-flex;
    }
    .category-menu__childs-list ul a {
        display: flex;

        svg {
            display: block;
            margin-left: 0px;
        }
    }
}

@media (min-width: 992px) {
    .category-menu__childs-list ul {
        grid-template-columns: 40% 1fr;
        column-gap: 20px;
    }
}

@media (min-width: 1200px) {
    .category-menu__childs-list ul {
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }
}
