.comment {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
    margin-bottom: 18px;

    .comment__avatar {
        padding-top: 3px;

        svg {
            display: block;
            width: 40px;
            height: 40px;
            color: var(--gray-700-color);
        }
    }

    .comment__content {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .comment__info {
            .comment__date {
                color: var(--gray-500-color);
            }
        }
    }

    .comment__text {
        // margin-bottom: 14px;
    }

    .comment__actions {
        display: flex;
        gap: 24px;

        button {
            padding: 0px;

            span:hover {
                color: var(--gray-600-color);
            }
        }
    }

    .comment__form-wrapper {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transition:
            max-height 0.2s ease,
            opacity 0.1s ease;

        &.show {
            max-height: 250px;
            visibility: visible;
            opacity: 1;
        }
    }
}

.comment__children {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
