@if (comment(); as comment) {
    <div class="comment base" [style.paddingLeft.px]="depthForChildren() * 30">
        <div class="comment__avatar">
            <svg icon="user"></svg>
        </div>
        <div class="comment__content">
            <div class="comment__info">
                <div class="comment__user fw-600">{{ comment.user.name }}</div>
                <div class="comment__date sm">{{ comment.created | dateFormat | lowercase }}</div>
            </div>
            <div class="comment__text">
                {{ comment.text }}
            </div>

            <div class="comment__actions sm">
                @if (isAuth()) {
                    @if (isMyComment) {
                        <button pButton text (click)="onEditFormShow()">
                            <span pButtonLabel>Редактировать</span>
                        </button>
                        <button pButton text (click)="onDelete()">
                            <span pButtonLabel>Удалить</span>
                        </button>
                    } @else {
                        <button pButton text (click)="onReplyFormShow()" [disabled]="!isAuth()">
                            <span pButtonLabel>Ответить</span>
                        </button>
                    }
                }
            </div>

            <div class="comment__form-wrapper" [class.show]="activeId() === comment.id">
                @if (openFormType() === 'reply') {
                    <app-comments-form
                        type="reply"
                        [activeId]="activeId()"
                        [toUser]="comment.user.name"
                        initialText="{{ comment.user.name }}, "
                        submitLabel="Ответить"
                        (formSubmit)="onSubmitReply($event)"
                        (formCancel)="onFormClose()"
                    ></app-comments-form>
                }

                @if (openFormType() === 'edit') {
                    <app-comments-form
                        type="edit"
                        [activeId]="activeId()"
                        [initialText]="comment.text"
                        submitLabel="Сохранить"
                        (formSubmit)="onSubmitEdit($event)"
                        (formCancel)="onFormClose()"
                    ></app-comments-form>
                }
            </div>
        </div>
    </div>

    @if (comment.children.length > 0) {
        <div class="comment__children">
            @for (child of comment.children; track child.id) {
                <app-comment
                    [comment]="child"
                    [depthForChildren]="depthForChildren() + 1"
                    [(activeId)]="activeId"
                    (deleteRequest)="deleteRequest.emit($event)"
                    (replyRequest)="replyRequest.emit($event)"
                    (editRequest)="editRequest.emit($event)"
                ></app-comment>
            }
        </div>
    }
}
