<h4 class="h4 fw-600 mb-24">Редактирование объявления</h4>

<form [formGroup]="advertEditForm" (ngSubmit)="onSubmit()" class="advert-form base mb-48">
    @if (categories()) {
        <div>
            <label for="category">Выберите категорию <span class="required">*</span></label>
            <div class="middle-field">
                <p-cascadeselect
                    formControlName="category"
                    [options]="categories()"
                    optionLabel="name"
                    [optionValue]="'id'"
                    optionGroupLabel="name"
                    [optionGroupChildren]="['childs']"
                    [placeholder]="isDataLoading() ? '' : 'Нажмите, чтобы выбрать'"
                    [invalid]="isControlInvalid('category')"
                />
                @if (isDataLoading()) {
                    <app-spinner></app-spinner>
                }
                <app-control-error
                    [form]="advertEditForm"
                    controlName="category"
                    [isShow]="!isDataLoading()"
                ></app-control-error>
            </div>
        </div>
    }
    <div>
        <label for="title">Название объявления <span class="required">*</span></label>
        <div>
            <input
                pInputText
                formControlName="title"
                [placeholder]="isDataLoading() ? '' : 'Что хотите продать?'"
                autocomplete="off"
                [invalid]="isControlInvalid('title')"
            />
            @if (isDataLoading()) {
                <app-spinner></app-spinner>
            }
            <app-control-error
                [form]="advertEditForm"
                controlName="title"
                [isShow]="!isDataLoading()"
            ></app-control-error>
        </div>
    </div>
    <div>
        <label for="description">Описание</label>
        <div class="relative">
            <textarea
                pTextarea
                formControlName="description"
                [placeholder]="isDataLoading() ? '' : 'Расскажите подробнее о товаре или услуге'"
                autoResize="true"
                style="resize: none"
                [invalid]="isControlInvalid('description')"
                class="big-field mb--5"
            ></textarea>
            @if (isDataLoading()) {
                <app-spinner type="textarea"></app-spinner>
            }
            <app-control-error
                [form]="advertEditForm"
                controlName="description"
                [isShow]="!isDataLoading()"
            ></app-control-error>
        </div>
    </div>
    <div>
        <label for="address">Адрес (место проведения сделки) <span class="required">*</span></label>
        @if (currentUser() && !isDataLoading()) {
            <div>
                <app-address-block
                    [control]="advertEditForm.controls.address"
                    [invalid]="isControlInvalid('address')"
                    [isAdvertEdit]="true"
                    [isDataLoading]="isDataLoading()"
                ></app-address-block>
                <app-control-error
                    [form]="advertEditForm"
                    controlName="address"
                    [isShow]="!isDataLoading()"
                ></app-control-error>
            </div>
        } @else {
            <app-spinner type="address-input"></app-spinner>
        }
    </div>
    <app-images-upload
        [(uploadImages)]="uploadImages"
        [(advertImages)]="advertImages"
        [isDataLoading]="isDataLoading()"
        class="advert-form__upload"
    ></app-images-upload>
    <div>
        <label for="price">Цена <span class="required">*</span></label>
        <div class="small-field">
            <p-inputnumber
                formControlName="price"
                [placeholder]="isDataLoading() ? '' : '0 ₽'"
                mode="currency"
                currency="RUB"
                currencyDisplay="symbol"
                locale="ru-RU"
                [minFractionDigits]="0"
                autocomplete="off"
                inputStyleClass="add"
                [invalid]="isControlInvalid('price')"
            />
            @if (isDataLoading()) {
                <app-spinner></app-spinner>
            }
            <app-control-error
                [form]="advertEditForm"
                controlName="price"
                [isShow]="!isDataLoading()"
            ></app-control-error>
        </div>
    </div>
    <div>
        <label for="phone">Номер телефона <span class="required">*</span></label>
        <div class="small-field">
            <p-inputMask
                formControlName="phone"
                type="phone"
                mask="+7 (999) 999 99 99"
                [placeholder]="isDataLoading() ? '' : '+7 (999) 999 99 99'"
                autocomplete="phone"
                [invalid]="isControlInvalid('phone')"
            ></p-inputMask>
            @if (isDataLoading()) {
                <app-spinner></app-spinner>
            }
            <app-control-error
                [form]="advertEditForm"
                controlName="phone"
                [isShow]="!isDataLoading()"
            ></app-control-error>
        </div>
    </div>
    <div>
        <label for="email">E-mail</label>
        <div class="small-field">
            <input
                pInputText
                type="email"
                formControlName="email"
                [placeholder]="isDataLoading() ? '' : 'Адрес электронной почты'"
                autocomplete="email"
                [invalid]="isControlInvalid('email')"
            />
            @if (isDataLoading()) {
                <app-spinner></app-spinner>
            }
            <app-control-error
                [form]="advertEditForm"
                controlName="email"
                [isShow]="!isDataLoading()"
            ></app-control-error>
        </div>
    </div>
    <div class="two-fields">
        <button
            pButton
            type="submit"
            [label]="isLoading() ? 'Редактируем объявление' : 'Редактировать объявление'"
            [loading]="isLoading()"
            [disabled]="!isAllRequiredCompleted() || (!isDataLoading() && advertEditForm.invalid)"
            class="advert-form__btn mt-8"
        ></button>
        <button
            pButton
            severity="secondary"
            type="button"
            class="advert-form__btn mt-8"
            [disabled]="isCleanForm()"
            (click)="onResetFormData()"
        >
            <span pButtonLabel>Очистить форму</span>
        </button>
        <app-form-message
            [(success)]="successMessage"
            [(error)]="errorMessage"
            [lifeSuccess]="800"
        ></app-form-message>
    </div>
</form>
