.advert-add-form {
    max-width: 856px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;

    .middle-field {
        max-width: 416px;
    }

    .small-field {
        max-width: 305px;
    }

    > *:not(.advert-add-form__img-upload, .advert-add__submit-disclaimer) {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    label {
        line-height: 24px;

        .required {
            color: var(--error-color);
        }
    }

    input {
        width: 100%;
        padding: 12px;
        line-height: 24px;
    }
}

.advert-add-form__img-upload {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    border: 1px solid var(--gray-200-color);
    border-radius: 3px;
    padding: 14px 16px;
    background: var(--gray-50-color);
}

.advert-add-form__img-upload-btn {
    padding: 8px 12px;
}

.advert-add-form__submit-btn {
    padding: 12px 16px;
    line-height: 24px;
    width: fit-content;
}

.advert-add__submit-disclaimer {
    margin-top: -8px;
    color: var(--gray-500-color);

    a {
        color: var(--primary-color);
    }

    a:hover {
        color: var(--gray-600-color);
    }
}
