@if (!isDataLoading() && advertImages().length) {
    <div class="images-upload__advert-images-wrapper">
        <label>Загруженные изображения</label>
        <div class="images-upload__advert-images">
            @for (image of advertImages(); track image.id) {
                <div class="images-upload__preview-wrapper static">
                    @if (!isImageLoaded()) {
                        <p-skeleton
                            class="image-skeleton"
                            width="100%"
                            height="100%"
                            borderRadius="4px"
                        />
                    }
                    <img
                        [src]="image.fileUrl"
                        (load)="onImageLoad()"
                        class="images-upload__preview"
                        [class.loading]="!isImageLoaded()"
                    />
                    @if (isImageLoaded()) {
                        <button
                            type="button"
                            class="images-upload__remove-btn"
                            (click)="deleteImageFromAdvert(image.id)"
                            title="Удалить изображение из объявления"
                        >
                            <i class="pi pi-trash"></i>
                        </button>
                    }
                </div>
            }
        </div>
    </div>
}

<div
    dnd
    class="images-upload__dropzone sm"
    tabindex="0"
    (keyup.enter)="fileInput.click()"
    (fileDropped)="onFilesDropped($event)"
>
    <div class="images-upload__dropzone-content">
        <button pButton tabindex="-1" type="button" (click)="fileInput.click()">
            <svg pButtonIcon icon="images" width="20" height="20"></svg>
            <span pButtonLabel>Добавить картинки</span>
        </button>

        <input
            #fileInput
            type="file"
            multiple
            accept="image/*"
            hidden
            (change)="onFileInputChange($event)"
        />

        <span>Максимум 10 картинок в формате jpg, png или heic</span>
    </div>

    <div
        cdkDropList
        cdkDropListOrientation="mixed"
        class="images-upload__previews"
        (cdkDropListDropped)="drop($event)"
    >
        @if (uploadImages().length) {
            @for (image of uploadImages(); let i = $index; track image.id) {
                <div class="images-upload__preview-wrapper" cdkDrag>
                    <img [src]="image.fileUrl" alt="preview" class="images-upload__preview" />
                    <button
                        type="button"
                        class="images-upload__remove-btn"
                        (click)="removeImage(i)"
                        title="Удалить изображение из загрузки"
                    >
                        <i class="pi pi-times"></i>
                    </button>
                    <ng-template cdkDragPreview [matchSize]="true">
                        <img [src]="image.fileUrl" alt="preview" style="border-radius: 4px" />
                    </ng-template>
                </div>
            }
        } @else {
            <div class="images-upload__previews-content">
                <i class="pi pi-cloud-upload"></i>
                <span>Перетащите изображения или загрузите</span>
            </div>
        }
    </div>
</div>

@if (errorMessages().length) {
    @for (errorMessage of errorMessages(); let i = $index; track i) {
        <app-form-message [(error)]="errorMessage" [lifeError]="2000"></app-form-message>
    }
}
