:host {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.link {
    color: var(--dark-color);
    display: flex;
    align-items: center;
    gap: 6px;

    .pi {
        font-size: 20px;
        padding-top: 1px;
    }
}
