@if (title(); as title) {
    <h4 class="h4 fw-600 mb-24">
        @if (link()) {
            <a [routerLink]="link()" alt="" class="link"
                >{{ title }}
                <i class="pi pi-angle-right"></i>
            </a>
        } @else {
            {{ title }}
        }
    </h4>
}
@if (isLoading()) {
    @if (count() !== undefined) {
        <app-ad-grid-skeleton [count]="count() ?? 4"></app-ad-grid-skeleton>
    } @else {
        <app-spinner type="big" width="1"></app-spinner>
    }
} @else {
    @if (adverts(); as adverts) {
        @if (adverts.length > 0) {
            <app-ad-grid
                [adverts]="count() ? adverts.slice(0, count()) : adverts"
                [newBtn]="newBtn()"
            ></app-ad-grid>
        } @else {
            <p>Нет объявлений</p>
        }
    }
}
