@if (title(); as title) {
    <h4 class="h4 fw-600 mb-24">{{ title }}</h4>
}
@if (isLoading()) {
    @switch (count()) {
        @case (4) {
            <app-ad-grid-skeleton [count]="4"></app-ad-grid-skeleton>
        }
        @case (8) {
            <app-ad-grid-skeleton [count]="8"></app-ad-grid-skeleton>
        }
        @default {
            <app-spinner type="big" width="1"></app-spinner>
        }
    }
} @else {
    @if (adverts(); as adverts) {
        @if (adverts.length > 0) {
            <app-ad-grid
                [adverts]="count() ? adverts.slice(0, count()) : adverts"
                [newBtn]="newBtn()"
            ></app-ad-grid>
        } @else {
            <p>Нет объявлений</p>
        }
    }
}
