<div class="password-input__wrapper">
    <input
        pInputText
        [type]="isPasswordVisible() ? 'text' : 'password'"
        [placeholder]="placeholder()"
        [formControl]="control()"
        autocomplete="off"
        [invalid]="isInvalid()"
    />

    <span
        class="password-input__eye-btn"
        [title]="isPasswordVisible() ? 'Скрыть пароль' : 'Показать пароль'"
        [class.active]="isPasswordVisible()"
        (click)="togglePasswordVisibility()"
    >
        <span
            class="pi"
            [class.pi-eye-slash]="!isPasswordVisible()"
            [class.pi-eye]="isPasswordVisible()"
        ></span>
    </span>
</div>
