<div class="category-filter-skeleton">
    <p-skeleton width="38%" height="14px"></p-skeleton>
    <p-skeleton width="28%" height="14px"></p-skeleton>
    <p-skeleton width="21%" height="14px"></p-skeleton>
    <p-skeleton width="20%" height="14px"></p-skeleton>
    <p-skeleton width="32%" height="14px"></p-skeleton>
    <p-skeleton width="35%" height="14px"></p-skeleton>
    <p-skeleton width="43%" height="14px"></p-skeleton>
    <p-skeleton width="65%" height="14px"></p-skeleton>
    <p-skeleton width="40%" height="14px"></p-skeleton>
    <p-skeleton width="30%" height="14px"></p-skeleton>
    <p-skeleton width="60%" height="14px"></p-skeleton>
</div>
