.img-gallery__item-wrapper {
    height: auto;
    min-height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.img-gallery__item {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;

    .pi {
        font-size: 26px;
        opacity: 0.8;
    }
}

.img-gallery__thumbnail {
    border-radius: 4px;
    height: 45px;
}

@media (min-width: 576px) {
    .img-gallery__thumbnail {
        height: 55px;
    }
}

@media (min-width: 768px) {
    .img-gallery__item-wrapper {
        height: 570px;
    }
    .img-gallery__thumbnail {
        height: 70px;
    }
}

@media (min-width: 992px) {
    .img-gallery__thumbnail {
        height: 90px;
    }
}
