@if (imagesIds(); as ids) {
    @if (ids.length === 0) {
        <div class="image-placeholder big">
            <span class="pi pi-images"></span>
        </div>
    } @else {
        @if (ids | imagesFromIds | async; as imagesSrc) {
            <p-galleria [value]="imagesSrc" [showThumbnailNavigators]="false" [numVisible]="6">
                <ng-template #item let-src>
                    <div class="img-gallery__item-wrapper">
                        <p-image [src]="src" alt="" [preview]="true" class="img-gallery__item">
                            <ng-template #indicator>
                                <i class="pi pi-eye"></i>
                            </ng-template>
                        </p-image>
                    </div>
                </ng-template>
                <ng-template #thumbnail let-src>
                    <img [src]="src" class="img-gallery__thumbnail" />
                </ng-template>
            </p-galleria>
        } @else {
            <app-image-gallery-skeleton></app-image-gallery-skeleton>
        }
    }
}
