.img-gallery__item-wrapper {
    height: 570px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.img-gallery__item {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;

    .pi {
        font-size: 26px;
        opacity: 0.8;
    }
}

.img-gallery__thumbnail {
    border-radius: 4px;
    height: 90px;
}
