:host {
    display: block;
    padding: 24px 0px;
    border-bottom: 1px solid var(--gray-200-color);
}

.search-bar__container {
    display: grid;
    grid-template-columns: min-content 1fr;
    row-gap: 25px;
}

.search-bar__title {
    grid-column: 1 / -1;
    margin-right: 24px;
}

.search-bar__menu-btn {
    margin-right: 12px;
    height: 36px;

    .p-button-label {
        font-weight: 500;
    }

    .p-button-icon {
        display: none;
    }

    &.active,
    &:not(:disabled):hover {
        box-shadow: 0 3px 8px var(--gray-100-color);
    }

    .icon-stack {
        width: 20px;
        height: 20px;
    }

    .icon-stack svg {
        position: absolute;
        transition: opacity 0.1s ease;
        opacity: 0;
    }
    .icon-stack svg.show {
        opacity: 1;
    }
}

.search-bar__form {
    flex: 1;
    display: flex;
    align-items: center;

    input {
        flex: 1;
        border-radius: 4px 0 0 4px;
        height: 36px;
        border-right: none;
    }
}

.search-bar__search-btn {
    border-radius: 0 4px 4px 0;
    height: 36px;

    .p-button-label {
        font-weight: 500;
    }
}

@media (min-width: 576px) {
    .search-bar__menu-btn {
        .p-button-icon {
            display: block;
        }
    }
}

@media (min-width: 992px) {
    .search-bar__container {
        display: flex;
        align-items: flex-end;
    }
}
