.image-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-skeleton {
    aspect-ratio: 26 / 20;
}

.image {
    min-width: 100%;
    min-height: 100%;
    image-rendering: auto;
    object-fit: fill;
}
