<form [formGroup]="settingsForm" (ngSubmit)="onSubmit()" class="settings-form base mb-48">
    <div>
        <label for="name">Имя</label>
        <div>
            <input
                pInputText
                [placeholder]="currentUser() ? 'Введите имя' : ''"
                formControlName="name"
                autocomplete="off"
                [invalid]="isControlInvalid('name')"
            />
            <app-control-error
                [form]="settingsForm"
                controlName="name"
                [isSubmitted]="isSubmitted()"
            ></app-control-error>
        </div>
    </div>
    <div>
        <label for="login">Логин</label>
        <div>
            <input
                pInputText
                [placeholder]="currentUser() ? 'Введите логин' : ''"
                formControlName="login"
                autocomplete="off"
                [invalid]="isControlInvalid('login')"
            />
            <app-control-error
                [form]="settingsForm"
                controlName="login"
                [isSubmitted]="isSubmitted()"
            ></app-control-error>
        </div>
    </div>
    <div>
        <label for="address">
            Адрес
            <span>(будет указываться в объявлениях по умолчанию)</span>
        </label>
        <input
            pInputText
            placeholder="Введите адрес"
            formControlName="address"
            autocomplete="off"
        />
    </div>
    <div>
        <button
            pButton
            type="submit"
            [label]="isLoading() ? 'Сохранение' : 'Сохранить'"
            [loading]="isLoading()"
            [disabled]="
                !isAllRequiredCompleted() ||
                !isFormChanged() ||
                (isSubmitted() && settingsForm.invalid)
            "
        ></button>
        @if (formSuccess()) {
            <p-message
                [life]="3000"
                icon="pi pi-check-circle"
                severity="success"
                size="small"
                variant="simple"
                showTransitionOptions="400ms ease-out"
                hideTransitionOptions="400ms ease-out"
            >
                {{ formSuccess() }}
            </p-message>
        }
        @if (formError()) {
            <p-message
                [life]="3000"
                icon="pi pi-times-circle"
                severity="error"
                size="small"
                variant="simple"
                showTransitionOptions="400ms ease-out"
                hideTransitionOptions="400ms ease-out"
            >
                {{ formError() }}
            </p-message>
        }
    </div>
</form>
