<form [formGroup]="settingsForm" (ngSubmit)="onSubmit()" class="settings-form base mb-48">
    <div>
        <label for="name">Имя</label>
        <div>
            <input
                pInputText
                placeholder="Введите имя"
                formControlName="name"
                autocomplete="off"
                [invalid]="isControlInvalid('name')"
            />
            <app-control-error
                [form]="settingsForm"
                controlName="name"
                [isSubmitted]="isSubmitted()"
            ></app-control-error>
        </div>
    </div>
    <div>
        <label for="login">Логин</label>
        <div>
            <input
                pInputText
                placeholder="Введите логин"
                formControlName="login"
                autocomplete="off"
                [invalid]="isControlInvalid('login')"
            />
            <app-control-error
                [form]="settingsForm"
                controlName="login"
                [isSubmitted]="isSubmitted()"
            ></app-control-error>
        </div>
    </div>
    <div>
        <label for="address">
            Адрес
            <span>(будет указываться в объявлениях по умолчанию)</span>
        </label>
        <input
            pInputText
            placeholder="Введите адрес"
            formControlName="address"
            autocomplete="off"
        />
    </div>
    <div>
        <button
            pButton
            type="submit"
            [label]="isLoading() ? 'Сохранение' : 'Сохранить'"
            [loading]="isLoading()"
            [disabled]="
                !isControlsCompleted() ||
                !isFormChanged() ||
                (isSubmitted() && settingsForm.invalid)
            "
        ></button>
        @if (successMessage()) {
            <p-message
                [life]="3000"
                severity="success"
                variant="simple"
                size="small"
                showTransitionOptions="400ms ease-out"
                hideTransitionOptions="400ms ease-out"
            >
                <svg icon="check-circle" width="24" height="24"></svg>
                <span class="fw-500">{{ successMessage() }}</span>
            </p-message>
        }
    </div>
</form>
