<form [formGroup]="settingsForm" (ngSubmit)="onSubmit()" class="settings-form base mb-48">
    <div>
        <label for="name">Имя</label>
        <div>
            <input
                pInputText
                [placeholder]="isDataLoading() ? '' : 'Введите имя'"
                formControlName="name"
                autocomplete="off"
                [invalid]="isControlInvalid('name')"
            />
            @if (isDataLoading()) {
                <app-spinner></app-spinner>
            }
            <app-control-error
                [form]="settingsForm"
                controlName="name"
                [isShow]="isSubmitted()"
            ></app-control-error>
        </div>
    </div>
    <div>
        <label for="login">Логин</label>
        <div>
            <input
                pInputText
                [placeholder]="isDataLoading() ? '' : 'Введите логин'"
                formControlName="login"
                autocomplete="off"
                [invalid]="isControlInvalid('login')"
            />
            @if (isDataLoading()) {
                <app-spinner></app-spinner>
            }
            <app-control-error
                [form]="settingsForm"
                controlName="login"
                [isShow]="isSubmitted()"
            ></app-control-error>
        </div>
    </div>
    <div>
        <label for="address">
            Адрес
            <span>(будет указываться в объявлениях по умолчанию)</span>
        </label>
        <div>
            <app-address-input
                formControlName="address"
                [isLoading]="isDataLoading()"
            ></app-address-input>
            @if (isDataLoading()) {
                <app-spinner></app-spinner>
            }
        </div>
    </div>
    <div class="short-field">
        <label for="favoriteCategory">Избранная категория <span>(для рекомендаций)</span></label>
        <p-cascadeselect
            formControlName="favoriteCategory"
            [options]="categories()"
            optionLabel="name"
            [optionValue]="'id'"
            optionGroupLabel="name"
            [optionGroupChildren]="['childs']"
            [placeholder]="isDataLoading() ? '' : 'Нажмите, чтобы выбрать'"
            [invalid]="isControlInvalid('favoriteCategory')"
        />
        @if (isDataLoading()) {
            <app-spinner type="select"></app-spinner>
        }
    </div>
    <div>
        <button
            pButton
            type="submit"
            [label]="isLoading() ? 'Сохранение' : 'Сохранить'"
            [loading]="isLoading()"
            [disabled]="
                !isAllRequiredCompleted() ||
                !(isAuthUserDataChanged() || isLocalUserDataChanged()) ||
                (isSubmitted() && settingsForm.invalid)
            "
        ></button>
        <app-form-message [(success)]="successMessage" [(error)]="errorMessage"></app-form-message>
    </div>
</form>
