.password-form {
    max-width: 416px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;

    > * {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    > *:last-child {
        margin-top: 8px;
    }

    label {
        line-height: 24px;

        span {
            color: var(--gray-500-color);
        }
    }

    input {
        padding: 12px;
        line-height: 24px;
    }

    button {
        padding: 12px 24px;
        line-height: 24px;
        width: fit-content;
    }
}

.dialog-form__password-input {
    position: relative;

    input {
        padding-right: 45px;
        width: 100%;
    }
}

.dialog-form__password-eye-btn {
    position: absolute;
    padding: 10px;
    top: 5px;
    right: 6px;
    background: none;
    border: none;
    color: var(--gray-400-color);
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
        color: var(--gray-600-color);
    }

    &.active {
        color: var(--gray-600-color);
    }
}
