<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="password-form base">
    <div>
        <label for="currentPassword">Текущий пароль</label>
        <div class="dialog-form__password-input">
            <input
                pInputText
                [type]="isPasswordVisible() ? 'text' : 'password'"
                placeholder="Введите пароль"
                formControlName="currentPassword"
                autocomplete="off"
                [invalid]="isControlInvalid('currentPassword')"
            />
            <span
                class="dialog-form__password-eye-btn"
                [title]="isPasswordVisible() ? 'Скрыть пароль' : 'Показать пароль'"
                [class.active]="isPasswordVisible()"
                (click)="isPasswordVisible.set(!isPasswordVisible())"
            >
                <span
                    class="pi"
                    [class.pi-eye-slash]="!isPasswordVisible()"
                    [class.pi-eye]="isPasswordVisible()"
                ></span>
            </span>
        </div>
        <app-control-error
            [form]="passwordForm"
            controlName="currentPassword"
            [isSubmitted]="isSubmitted()"
        ></app-control-error>
    </div>

    <div>
        <label for="newPassword">
            Новый пароль
            <span>(минимум 8 символов)</span>
        </label>
        <div class="dialog-form__password-input">
            <input
                pInputText
                [type]="isPasswordVisible() ? 'text' : 'password'"
                placeholder="Введите пароль"
                formControlName="newPassword"
                autocomplete="off"
                [invalid]="isControlInvalid('newPassword')"
            />
            <span
                class="dialog-form__password-eye-btn"
                [title]="isPasswordVisible() ? 'Скрыть пароль' : 'Показать пароль'"
                [class.active]="isPasswordVisible()"
                (click)="isPasswordVisible.set(!isPasswordVisible())"
            >
                <span
                    class="pi"
                    [class.pi-eye-slash]="!isPasswordVisible()"
                    [class.pi-eye]="isPasswordVisible()"
                ></span>
            </span>
        </div>

        <app-control-error
            [form]="passwordForm"
            controlName="newPassword"
            [isSubmitted]="isSubmitted()"
        ></app-control-error>
        <div class="dialog-form__password-input">
            <input
                pInputText
                [type]="isPasswordVisible() ? 'text' : 'password'"
                placeholder="Подтвердите пароль"
                formControlName="confirmPassword"
                autocomplete="off"
                [invalid]="isControlInvalid('confirmPassword')"
            />
            <span
                class="dialog-form__password-eye-btn"
                [title]="isPasswordVisible() ? 'Скрыть пароль' : 'Показать пароль'"
                [class.active]="isPasswordVisible()"
                (click)="isPasswordVisible.set(!isPasswordVisible())"
            >
                <span
                    class="pi"
                    [class.pi-eye-slash]="!isPasswordVisible()"
                    [class.pi-eye]="isPasswordVisible()"
                ></span>
            </span>
        </div>

        <app-control-error
            [form]="passwordForm"
            controlName="confirmPassword"
            [isSubmitted]="isSubmitted()"
        ></app-control-error>
    </div>
    <button
        pButton
        type="submit"
        [label]="isLoading() ? 'Сохранение' : 'Изменить пароль'"
        [loading]="isLoading()"
    ></button>
</form>
