<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="password-form base">
    <div>
        <label for="currentPassword">Текущий пароль</label>
        <input
            pInputText
            placeholder="Введите текущий пароль"
            formControlName="currentPassword"
            class=""
        />
    </div>

    <div>
        <label for="newPassword">
            Новый пароль
            <span>(минимум 8 символов)</span>
        </label>
        <input
            pInputText
            placeholder="Введите новый пароль"
            formControlName="newPassword"
            class=""
        />
        <input
            pInputText
            placeholder="Подтвердите новый пароль"
            formControlName="confirmPassword"
            class=""
        />
    </div>

    <button pButton type="submit" class="">
        <span pButtonLabel>Изменить пароль</span>
    </button>
</form>
