:host {
    display: block;
    background-color: var(--dark-color);
    padding: 8px 0;
}

.top-bar__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar__signin-btn,
.top-bar__register-btn {
    color: var(--white-color);
    padding: 8px 0px;
    gap: 4px;

    svg {
        margin-right: 4px;
    }

    &:not(:disabled):hover {
        color: var(--p-blue-100);
    }
}

.top-bar__separator {
    color: var(--white-color);
    padding: 0px 8px;
}

// без ng-deep не получилось
::ng-deep .top-bar__user-menu {
    transform: translateX(calc(-100% + 82px));

    .p-tieredmenu-item-label {
        text-align: right;
        width: 100%;
    }

    .menu-item-logout .p-tieredmenu-item-label {
        color: var(--error-color);
    }
}

.top-bar__spinner {
    width: 20px;
    height: 20px;
    margin: 8px 0px;
    --p-progressspinner-color-one: var(--white-color);
    --p-progressspinner-color-two: var(--white-color);
    --p-progressspinner-color-three: var(--white-color);
    --p-progressspinner-color-four: var(--white-color);
}

.top-bar__add-btn {
    padding: 6px 12px;
    margin-left: 24px;
    gap: 4px;

    .p-button-label {
        font-weight: 500;
    }
}
