:host {
    display: block;
    background-color: var(--dark-color);
    padding: 8px 0;
}

.top-bar__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar__signin-btn,
.top-bar__register-btn {
    color: var(--white-color);
    padding: 8px 0px;
    gap: 8px;

    svg {
        margin-right: 4px;
    }

    &:not(:disabled):hover {
        color: var(--p-blue-100);
    }
}

.top-bar__signin-btn {
    justify-content: flex-end;

    & > svg:nth-child(1) {
        display: none;
    }
}

.top-bar__separator {
    color: var(--white-color);
    padding: 0px 8px;
}

.top-bar__spinner {
    width: 20px;
    height: 20px;
    margin: 8px 0px;
    --p-progressspinner-color-one: var(--white-color);
    --p-progressspinner-color-two: var(--white-color);
    --p-progressspinner-color-three: var(--white-color);
    --p-progressspinner-color-four: var(--white-color);
}

.top-bar__add-btn {
    padding: 6px 12px;
    margin-left: 24px;
    gap: 4px;

    svg {
        display: none;
    }

    .p-button-label {
        font-weight: 500;
    }
}

@media (min-width: 576px) {
    .top-bar__signin-btn {
        min-width: 147px;
        justify-content: flex-end;

        & > svg:nth-child(1) {
            display: inline-flex;
        }
    }

    .top-bar__add-btn {
        svg {
            display: inline-flex;
        }
    }
}
