<div class="header-search__container container">
    <h3 class="header-search__title h3 fw-700">
        <a [routerLink]="['']">Доска объявлений</a>
    </h3>
    <button
        pButton
        outlined
        class="header-search__menu-btn"
        [class.active]="menuButtonActive"
        (click)="menu.toggle($event)"
    >
        <!-- <svg pButtonIcon [icon]="menuButtonIcon" width="20" height="20"></svg> -->
        <div class="icon-stack">
            <svg
                pButtonIcon
                icon="list-nested"
                [class.show]="!menuButtonActive"
                width="20"
                height="20"
            ></svg>
            <svg
                pButtonIcon
                icon="close"
                [class.show]="menuButtonActive"
                width="20"
                height="20"
            ></svg>
        </div>
        <span pButtonLabel>Все категории</span>
    </button>
    <form class="header-search__form" [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <input pInputText type="text" placeholder="Поиск по объявлениям" formControlName="search" />
        <button pButton type="submit" class="header-search__search-btn">
            <span pButtonLabel>Найти</span>
            <svg pButtonIcon icon="search" width="16" height="16"></svg>
        </button>
    </form>
</div>
<p-popover #menu styleClass="category-menu" (onShow)="onMenuShow()" (onHide)="onMenuHide()">
    <app-category-menu (categorySelected)="menu.hide()"></app-category-menu>
</p-popover>
