:host {
    display: block;
    padding: 24px 0px;
    border-bottom: 1px solid var(--gray-200-color);
}

.header-search__container {
    display: grid;
    grid-template-columns: min-content 1fr;
    row-gap: 25px;
}

.header-search__title {
    grid-column: 1 / -1;
    margin-right: 24px;
}

.header-search__menu-btn {
    margin-right: 12px;
    height: 36px;

    .p-button-label {
        font-weight: 500;
    }

    .p-button-icon {
        display: none;
    }

    &:not(:disabled):hover {
        border-color: var(--gray-600-color);
        color: var(--gray-600-color);
    }
}

.header-search__form {
    flex: 1;
    display: flex;
    align-items: center;

    input {
        flex: 1;
        border-radius: 4px 0 0 4px;
        height: 36px;
        border-right: none;
    }
}

.header-search__search-btn {
    border-radius: 0 4px 4px 0;
    height: 36px;

    .p-button-label {
        font-weight: 500;
    }
}

@media (min-width: 576px) {
    .header-search__menu-btn {
        .p-button-icon {
            display: block;
        }
    }
}

@media (min-width: 992px) {
    .header-search__container {
        display: flex;
        align-items: flex-end;
    }
}
