<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="password-form base">
    <div>
        <label for="newPassword">
            Новый пароль
            <span>(минимум 8 символов)</span>
        </label>
        <div>
            <app-password-input
                [control]="passwordForm.controls.newPassword"
                [isInvalid]="isControlInvalid('newPassword')"
                [(isPasswordVisible)]="isPasswordVisible"
            ></app-password-input>
            <app-control-error
                [form]="passwordForm"
                controlName="newPassword"
                [isSubmitted]="isSubmitted()"
            ></app-control-error>
        </div>
        <div>
            <app-password-input
                [control]="passwordForm.controls.confirmPassword"
                [isInvalid]="isControlInvalid('confirmPassword')"
                [(isPasswordVisible)]="isPasswordVisible"
                placeholder="Подтвердите пароль"
            ></app-password-input>
            <app-control-error
                [form]="passwordForm"
                controlName="confirmPassword"
                [isSubmitted]="isSubmitted()"
            ></app-control-error>
        </div>
    </div>
    <div>
        <button
            pButton
            type="submit"
            [label]="isLoading() ? 'Изменение пароля' : 'Изменить пароль'"
            [loading]="isLoading()"
            [disabled]="!isAllControlsCompleted() || (isSubmitted() && passwordForm.invalid)"
        ></button>
        @if (formSuccess()) {
            <p-message
                [life]="3000"
                icon="pi pi-check-circle"
                severity="success"
                size="small"
                variant="simple"
                showTransitionOptions="400ms ease-out"
                hideTransitionOptions="400ms ease-out"
            >
                {{ formSuccess() }}
            </p-message>
        }
        @if (formError()) {
            <p-message
                [life]="3000"
                icon="pi pi-times-circle"
                severity="error"
                size="small"
                variant="simple"
                showTransitionOptions="400ms ease-out"
                hideTransitionOptions="400ms ease-out"
            >
                {{ formError() }}
            </p-message>
        }
    </div>
</form>
