<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="password-form base">
    <div>
        <label for="newPassword">
            Новый пароль
            <span>(минимум 8 символов)</span>
        </label>
        <div>
            <app-password-input
                [control]="passwordForm.controls.newPassword"
                [isInvalid]="isControlInvalid('newPassword')"
                [(isPasswordVisible)]="isPasswordVisible"
            ></app-password-input>
            <app-control-error
                [form]="passwordForm"
                controlName="newPassword"
                [isShow]="isSubmitted()"
            ></app-control-error>
        </div>
        <div>
            <app-password-input
                [control]="passwordForm.controls.confirmPassword"
                [isInvalid]="isControlInvalid('confirmPassword')"
                [(isPasswordVisible)]="isPasswordVisible"
                placeholder="Подтвердите пароль"
            ></app-password-input>
            <app-control-error
                [form]="passwordForm"
                controlName="confirmPassword"
                [isShow]="isSubmitted()"
            ></app-control-error>
        </div>
    </div>
    <div>
        <button
            pButton
            type="submit"
            [label]="isLoading() ? 'Изменение пароля' : 'Изменить пароль'"
            [loading]="isLoading()"
            [disabled]="!isAllRequiredCompleted() || (isSubmitted() && passwordForm.invalid)"
        ></button>
        <app-form-message [(success)]="successMessage" [(error)]="errorMessage"></app-form-message>
    </div>
</form>
