.ad-grid {
    display: grid;
    column-gap: 18px;
    row-gap: 25px;
}

.ad-grid_full {
    grid-template-columns: 1fr;
}

.ad-grid_short {
    grid-template-columns: 1fr;
}

@media (min-width: 576px) {
    .ad-grid {
        column-gap: 18px;
        row-gap: 25px;
    }

    .ad-grid_full {
        grid-template-columns: repeat(2, 1fr);
    }
    .ad-grid_short {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 680px) {
    .ad-grid_full {
        grid-template-columns: repeat(3, 1fr);
    }
    .ad-grid_short {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .ad-grid {
        column-gap: 24px;
        row-gap: 32px;
    }
}

@media (min-width: 992px) {
    .ad-grid_full {
        grid-template-columns: repeat(4, 1fr);
    }
    .ad-grid_short {
        grid-template-columns: repeat(3, 1fr);
    }
}
