.ad-grid {
    display: grid;
    column-gap: 18px;
    row-gap: 25px;
    min-height: 382px;
}

.ad-grid_full {
    grid-template-columns: 1fr;
}

.ad-grid_short {
    grid-template-columns: 1fr;
}

.ad-grid__new-advert-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    min-height: 270px;
    color: var(--primary-color);
    border-radius: 4px;
    background-image:
        repeating-linear-gradient(
            0deg,
            var(--primary-color-trans-16),
            var(--primary-color-trans-16) 17px,
            transparent 17px,
            transparent 33px,
            var(--primary-color-trans-16) 33px
        ),
        repeating-linear-gradient(
            90deg,
            var(--primary-color-trans-16),
            var(--primary-color-trans-16) 17px,
            transparent 17px,
            transparent 33px,
            var(--primary-color-trans-16) 33px
        ),
        repeating-linear-gradient(
            180deg,
            var(--primary-color-trans-16),
            var(--primary-color-trans-16) 17px,
            transparent 17px,
            transparent 33px,
            var(--primary-color-trans-16) 33px
        ),
        repeating-linear-gradient(
            270deg,
            var(--primary-color-trans-16),
            var(--primary-color-trans-16) 17px,
            transparent 17px,
            transparent 33px,
            var(--primary-color-trans-16) 33px
        );
    background-size:
        3px 100%,
        100% 3px,
        3px 100%,
        100% 3px;
    background-position:
        0 0,
        0 0,
        100% 0,
        0 100%;
    background-repeat: no-repeat;
    background-color: var(--primary-color-trans-04);

    &:hover {
        background-image:
            repeating-linear-gradient(
                0deg,
                var(--primary-color-trans-32),
                var(--primary-color-trans-32) 17px,
                transparent 17px,
                transparent 33px,
                var(--primary-color-trans-32) 33px
            ),
            repeating-linear-gradient(
                90deg,
                var(--primary-color-trans-32),
                var(--primary-color-trans-32) 17px,
                transparent 17px,
                transparent 33px,
                var(--primary-color-trans-32) 33px
            ),
            repeating-linear-gradient(
                180deg,
                var(--primary-color-trans-32),
                var(--primary-color-trans-32) 17px,
                transparent 17px,
                transparent 33px,
                var(--primary-color-trans-32) 33px
            ),
            repeating-linear-gradient(
                270deg,
                var(--primary-color-trans-32),
                var(--primary-color-trans-32) 17px,
                transparent 17px,
                transparent 33px,
                var(--primary-color-trans-32) 33px
            );
        background-color: var(--primary-color-trans-08);
    }
}

@media (min-width: 576px) {
    .ad-grid {
        column-gap: 4%;
        row-gap: 30px;
    }

    .ad-grid_full {
        grid-template-columns: repeat(1, 1fr);
    }
    .ad-grid_short {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 680px) {
    .ad-grid_full {
        grid-template-columns: repeat(2, 1fr);
    }
    .ad-grid_short {
        grid-template-columns: repeat(2, 1fr);
    }

    .ad-grid {
        column-gap: 4%;
    }
}

@media (min-width: 768px) {
    .ad-grid {
        column-gap: 6%;
        row-gap: 32px;
    }
}

@media (min-width: 992px) {
    .ad-grid {
        column-gap: 24px;
    }

    .ad-grid_full {
        grid-template-columns: repeat(4, 1fr);
    }
    .ad-grid_short {
        grid-template-columns: repeat(3, 1fr);
    }
}
