.ad-grid-item-skeleton {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 6px;

    &__image {
        aspect-ratio: 26 / 20;
    }

    &__title {
        margin-top: 12px;
    }

    &__price {
        margin-top: 8px;
    }

    &__city {
        margin-top: 8px;
    }

    &__date {
        margin-top: 8px;
    }
}

@media (min-width: 680px) {
    .ad-grid-item-skeleton {
        margin-bottom: 28px;
    }
}

@media (min-width: 768px) {
    .ad-grid-item-skeleton {
        margin-bottom: 18px;
    }
}

@media (min-width: 992px) {
    .ad-grid-item-skeleton {
        margin-bottom: 51px;
    }
}
