.top-filters {
    padding-top: 2px;
}

.top-filters__wrapped {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 2px;
}

.top-filters__ad-sort {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
}

.top-filters__ad-sort-select {
    width: 150px;
}

@media (min-width: 768px) {
    .top-filters__ad-sort {
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 992px) {
    .top-filters__wrapped {
        flex-direction: row;
        align-items: center;
    }
}
