.ad-top-filters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2px;
    gap: 20px;
    margin-bottom: 40px;
}

.ad-top-filters__sort {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    white-space: nowrap;
}

.ad-top-filters__sort-select {
    width: 150px;
}

@media (min-width: 576px) {
    .ad-top-filters {
        margin-bottom: 34px;
    }

    .ad-top-filters__sort {
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 992px) {
    .ad-top-filters {
        flex-direction: row;
        align-items: start;
    }
}
