.ad-top-filters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 2px;
}

.ad-top-filters__sort {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
}

.ad-top-filters__sort-select {
    width: 150px;
}

@media (min-width: 768px) {
    .ad-top-filters__sort {
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 992px) {
    .ad-top-filters {
        flex-direction: row;
        align-items: center;
    }
}
