.big {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .spinner {
        width: 120px;
        height: 120px;
    }
}

.gallery {
    position: absolute;
    width: 100%;
    aspect-ratio: 3 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;

    .spinner {
        width: 120px;
        height: 120px;
    }
}

.small {
    position: relative;

    .spinner {
        position: absolute;
        top: -35px;
        left: 15px;
        width: 20px;
        height: 20px;
    }
}

.address-input {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 12px;
    width: 20px;
    height: 20px;

    .spinner {
        width: 20px;
        height: 20px;
    }
}

.select {
    position: relative;

    .spinner {
        position: absolute;
        top: -42px;
        left: 15px;
        width: 20px;
        height: 20px;
    }
}

.textarea {
    .spinner {
        position: absolute;
        top: 15%;
        left: 15px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
    }
}
